// colors

$main: #231815;
$white: #ffffff;
$orange: #e45302;
$grey: #808080;
$grey-light: #f5f5f5;
$black: #000000;
$dark-blue: #0d0b26;

// typography

$rem-075: 0.75rem; // 12px
$rem-087: 0.87rem; // 14px
$rem-1: 1rem; // 16px
$rem-112: 1.12rem; // 18px
$rem-137: 1.37rem; // 22px
$rem-15: 1.5rem; // 24px
$rem-25: 2.5rem; // 40px
$rem-25: 2.75rem; // 44px

$korataki: 'Korataki', 'Arial', sans-serif;
$lato: 'Lato', 'Arial', sans-serif;

// viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// transition

$transition-300: ease-in 0.3s;
