.main-link {
	@include flexCenter(row, flex-end);
	gap: 0.73rem;
	$root: &;
	animation: mainLinkFadeIn 2s ease-in forwards;

	@media (max-width: 75rem) {
		gap: 0.31rem;
	}

	&:hover,
	&:focus-visible,
	&:focus-within {
		#{$root}__name {
			transform: translateY(-40%);
		}
	}

	&__name {
		transition: transform $transition-300;
	}

	&--black {
		justify-content: unset;
	}
}
