.product-card {
	$root: &;

	&:hover,
	&:focus-visible {
		#{$root}__product-link {
			opacity: 1;
		}

		#{$root}__picture-wrapper::before {
			background-color: $grey-light-07;
		}
	}

	&__main {
		@include flexCenter(column, flex-start);
		gap: 1.25rem;
	}

	&__picture-wrapper {
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 20%;
			background-color: transparent;
			z-index: 0;
			border-radius: 0 0 1.25rem 1.25rem;
			transition: background-color $transition-300;
		}
	}

	&__product-image {
		border-radius: 1.25rem;
		overflow: hidden;
	}

	&__sale {
		max-width: 7.87rem;
		max-height: 2.37rem;
		border-radius: 6.25rem;
		padding: 0.3rem 2.46rem 0.5rem 2.46rem;
		background-color: $black;
		display: block;

		color: $white;
		font-size: $rem-1;
		font-weight: 600;
		line-height: 140%;

		position: absolute;
		top: 0.62rem;
		left: 0.62rem;

		@media (max-width: 31.25rem) {
			max-width: 4.37rem;
			max-height: 1.5rem;
			padding: 0.1rem 0.9rem 0.12rem 0.9rem;

			font-size: $rem-087;
		}
	}

	&__product-link {
		border-radius: 6.25rem;
		padding: 0.81rem 5.37rem 0.81rem 5.37rem;
		background-color: $orange;
		border: unset;
		@include flexCenter(row);
		max-width: 89%;

		font-weight: 600;
		font-size: $rem-1;
		line-height: 140%;
		color: $white;
		transition: opacity $transition-300, transform $transition-300,
			box-shadow $transition-300, color $transition-300;

		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 1.25rem;
		z-index: 5;

		opacity: 0;

		&:hover,
		&:focus-visible {
			box-shadow: inset 0 0 3px 3px $white;
			color: $black;
		}

		// @media (max-width: 48rem) {
		// 	left: 8%;
		// }

		// @media (max-width: 43.25rem) {
		// 	left: 2%;
		// }

		@media (max-width: 100rem) {
			padding: 0.6rem 4.37rem 0.6rem 4.37rem;
			bottom: 1rem;
		}

		@media (max-width: 75rem) {
			bottom: 4%;
		}

		@media (max-width: 64rem) {
			padding: 0.81rem 5.37rem 0.81rem 5.37rem;
		}

		@media (max-width: 56.25rem) {
			padding: 0.6rem 5.37rem 0.6rem 5.37rem;
		}

		@media (max-width: 48rem) {
			padding: 0.81rem 5.37rem 0.81rem 5.37rem;
		}

		@media (max-width: 37.5rem) {
			padding: 0.6rem 3.37rem 0.6rem 3.37rem;
		}

		@media (max-width: 31.25rem) {
			// left: 5%;
			padding: 3% 3.37rem 3% 3.37rem;
		}

		@media (max-width: 24.37rem) {
			font-size: $rem-087;
		}
	}

	&__heading {
		@include flexCenter(column, flex-start);
		gap: 0.75rem;
	}

	&__product-name {
		font-weight: 700;
		font-size: $rem-112;
		line-height: 140%;
		letter-spacing: -0.01em;

		@media (max-width: 31.25rem) {
			font-weight: 500;
			font-size: $rem-1;
		}
	}

	&__price-block {
		@include flexCenter(row);
		gap: 1rem;
	}

	&__sale-price {
		font-weight: 700;
		font-size: $rem-137;
		line-height: 140%;
		color: $orange;

		@media (max-width: 31.25rem) {
			font-size: $rem-1;
		}
	}

	&__regular-price {
		position: relative;

		font-weight: 600;
		font-size: $rem-137;
		line-height: 140%;
		color: $grey;

		&::before {
			content: '';
			position: absolute;
			top: 54%;
			left: 0;
			transform: translateY(-50%);
			width: 76%;
			height: 2px;
			background-color: $grey;
		}

		@media (max-width: 31.25rem) {
			font-size: $rem-075;
		}
	}

	&--without-sale {
		#{$root}__sale {
			display: none;
		}

		#{$root}__sale-price {
			display: none;
		}

		#{$root}__regular-price {
			color: $black;
			&::before {
				position: static;
			}
		}
	}
}
