.transform {
	.burger-menu__top-line {
		transform: translateY(0.4rem) rotate(45deg);
	}

	.burger-menu__bottom-line {
		transform: translateY(-0.2rem) rotate(-45deg);
	}

	.burger-menu__main-line {
		opacity: 0;
	}
}
